*{
    padding 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.grigio{
    color: gray;
}

.contenitore{
    width: 80%;
    margin: 0 auto;
    
    
}

.intestazione{
    height: 5em;
    background-color: white;
    margin-top: 1em;
}

.logo{
    height: 100%;
    border-right: solid rgb(211 211 211 / 40%);
    padding-right: 2em;


}
.link{
    display: block;
    margin: 2em 0;

    

}
header a {
    color: rgb(212 212 212);
    text-decoration: none;
    font-weight: bold;
    
}

.testo-corpo{
    
    width: 40%;
    color: rgb(72 72 72);
    position: absolute;
    bottom: 4em;
    padding-left: 3em;
}




.corpo-centrale{
  height: 30em;
    margin: 6em 0;
    background-image: url(../img/banner.jpg);
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    
}



.intestazione-2{
    height: 10em;
    
    padding: 3em 0;
    
}

.colonna-sinistra,
.colonna-centrale,
.colonna-destra{
    
    float: left;
    
    
    
}

.immagine-centrale{
    width: 40%;
}
.colonna-destra,
.colonna-sinistra{

    width: 25%;
    

}

.colonna-centrale{
    
    width: 48%;
    
    margin: 0 1%;
    
    
}



.fine-pagina{
    height: 3em;
    
    margin: 1em 0;
}

.immagine-left{
    
    background-image: url(../img/img-1.jpg);
    filter: brightness(70%);
    width: 100%;
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
}
.immagine-center{
    
    background-image: url(../img/banner-2.jpg);
    filter: brightness(70%);
    
    width: 100%;
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
}
.immagine-right{
    
    background-image: url(../img/img-3.jpg);
    filter: brightness(70%);
    width: 100%;
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
}

.titolo{
    color: rgb(149 149 149);
    margin: 1em 0;
}
.titolo-footer{
    color: rgb(149 149 149);
    margin: 1em 0;
    text-align: center;
}
#cuore{
    color: red;
}
